@import url('http://fonts.googleapis.com/css?family=Allura');

body {
  background: url('/images/lightpaperfibers.png') repeat;
}

input {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

input:focus {
  background: rgba(255, 255, 255, 0.8);
}

.header {
  padding: 10px;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.brand {
  float: left;
  height: 100%;
  font-weight: 600;
  font-family: 'Allura', cursive;
  font-size: 80px;
  padding: 0 50px;
  color: #e44424;
}

.inline-links {
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
}

.inline-links li {
  margin-left: 40px;
  height: 100%;
  line-height: 112px;
  float: left;
  list-style-type: none;
}

.inline-links a {
  color: #67bcdb;
  font-size: 1.2em;
  text-decoration: none;
}

.new-haiku {
  max-width: 600px;
  text-align: center;
}

.new-haiku input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.new-haiku button {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  width: 40%;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

#content {
  padding: 20px 50px;
}

input.ng-invalid {
  border-left: 5px solid red;
}

.haikus {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.haikus li {
  list-style-type: none;
  float: left;
  padding: 20px;
  border-radius: 2px;
  width: 290px;
  margin-right: 40px;
  margin-bottom: 30px;
  background: rgba(240, 240, 240, 0.4);
  box-shadow: inset 0 0 12px #ddd;
}

.haiku p {
  text-align: center;
}

.haiku em {
  text-align: right;
  font-size: 0.5em;
}
