<!DOCTYPE html>
<html lang="en" ng-app="haiq">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HaiQ</title>
    <script src="/assets/application.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/global.css">
    <meta name="user" content="<%= current_user.try(:to_json) %>">
  </head>
  <body>
    <header class="header">
      <div class="brand">HaiQ</div>
      <ul id="menu" class="inline-links">
        <% if current_user %>
          <li><a id="recent" href="/#/recent">Recent</a></li>
          <li><a id="me" href="/#/me">Me</a></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/auth/twitter">Login with Twitter</a></li>
        <% end %>        
      </ul>
    </header>
    <section id="content" role="main" ng-view></section>
  </body>
</html>
