<form name="newHaiku" class="new-haiku" action="/haikus">
  <input ng-model="first" syllables="5" autofocus>
  <input ng-model="second" syllables="7">
  <input ng-model="third" syllables="5">
  <button type="submit" ng-disabled="newHaiku.$invalid">Share</button>
</form>