<ul class="haikus">
  <li ng-repeat="haiku in haikus">
    <div class="haiku">
      <p class="first">{{ haiku.first }}</p>
      <p class="second">{{ haiku.second }}</p>
      <p class="third">{{ haiku.third }}</p>
      <em>{{ haiku.user.name }}</em>
    </div>
  </li>
</ul>
